.home-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
}

.home-heading {
  color: #fff;
  line-height: 1.1;
  font-weight: 300;
}

h1.home-heading {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
  font-size: 6rem;
  letter-spacing: -2px;
  text-transform: uppercase;
  padding-left: 40px;
  display: flex;
  align-items: center;

  @media (max-width: 576px) {
    padding-top: 10px;
    padding-left: 0;
    font-size: 3rem;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 7;
  }
}

h2.home-heading {
  font-size: 7rem;
  letter-spacing: -1px;
  padding: 20px;
  display: flex;
  align-items: center;

  &.value-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background: theme('colors.red');
  }
  &.value-2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    background: theme('colors.red');
  }
  &.value-3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    background: theme('colors.red');
  }


  @media (max-width: 576px) {
    font-size: 4rem;
    padding: 10px;

    &.value-1 {
      grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

  }
  &.value-2 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  &.value-3 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  }
}
