.home {
  background: #f8f9fa;
}

h1.home-heading {
  align-items: center;
  display: flex;
  letter-spacing: -2px;
  padding-top: 10px;
  padding-left: 0;
  font-size: 3rem;
  grid-column: 1 4;

  @media (min-width: theme('screens.lg')) {
    grid-column: 2 4;
    font-size: 4.5rem;
    padding-left: 40px;
  }

  @media (min-width: theme('screens.xl')) {
    font-size: 6.5rem;
  }

  @media (min-width: theme('screens.2xl')) {
    font-size: 7rem;
  }
}

h2.home-heading {
  font-size: 4rem;
  padding: 10px;

  &.value-1 {
    grid-column: 1 4;
    background: theme('colors.red');
  }

  &.value-2 {
    grid-column: 1 4;
    background: theme('colors.red');
  }

  &.value-3 {
    grid-column: 1 4;
    background: theme('colors.red');
  }

  @media (min-width: theme('screens.lg')) {
    letter-spacing: -1px;
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 5rem;

    &.value-1 {
      grid-column: 1 2;

    }

    &.value-2 {
      grid-column: 1 2;
    }

    &.value-3 {
      grid-column: 1 2;
    }
  }

}
