@import "../styles/functions";
@import "../styles/fonts";
@import "../styles/variables";
@import "../styles/mixins";
@import "../styles/reboot";
@import "../styles/typography";
@import "../styles/nav";
@import "../styles/typist";

// body {
//   background: linear-gradient(45deg, $cool-gray-1c 1%, $cool-gray-6c 66%);
//   background-repeat: no-repeat;
//   background-attachment: fixed;
// }

body.how-we-do-it {
  background-color: $gray-900;

  h1 {
    margin: 20rem 0 30rem;
  }
}

body.work {
background-color: $cool-gray-6c;
}