@import "../styles/functions";
@import "../styles/fonts";
@import "../styles/variables";
@import "../styles/mixins";
@import "../styles/reboot";
@import "../styles/typography";
@import "../styles/nav";
@import "../styles/typist";

// body {
//   background: linear-gradient(45deg, $cool-gray-1c 1%, $cool-gray-6c 66%);
//   background-repeat: no-repeat;
//   background-attachment: fixed;
// }

html, body {
  height: 100%;
}

body.what-we-do {
  background-color: $gray-900;

  h1 {
    margin: 15rem 0 25rem;

    @media (max-width: 576px) {

      margin: 10rem 0 10rem;
    }
  }
}

body.work {
background-color: $cool-gray-6c;
}